.table-container {
  max-width: 1600px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 22px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.student-table {
  width: 100%;
  border-collapse: collapse;

}

.student-table th,
.student-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.student-table tr:hover td {
  background: #f4f4f4;
}

.edit-btn {
  background: #0ea5e9;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.edit-btn:hover {
  background: #0284c7;
}
.delete-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

.delete-btn:active {
  background-color: #990000;
  transform: scale(0.95);
}
