.table-container {
  max-width: 1600px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 6px 22px rgba(0,0,0,0.1);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: bold;
}

.student-table {
  width: 100%;
  border-collapse: collapse;

}

.student-table th,
.student-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.student-table tr:hover td {
  background: #f4f4f4;
}

.edit-btn {
  background: #0ea5e9;
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.edit-btn:hover {
  background: #0284c7;
}
.delete-btn {
  background-color: #e63946;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: #cc0000;
  transform: scale(1.05);
}

.delete-btn:active {
  background-color: #990000;
  transform: scale(0.95);
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 9999;
}

.modal-content {
  background: #fff;
  width: 80%;
  margin: 40px auto;
  padding: 10px;
}


/* Header */
.modal-header {
  height: 50px;
  padding: 0 16px;
  background: #0b4add;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  font-size: 16px;
  font-weight: 600;
}

.close {
  font-size: 26px;
  cursor: pointer;
}

/* Body */
.modal-body {
  flex: 1;
  background: #f8fafc;
  padding: 10px;
}

/* PDF iframe */
.doc-frame {
  width: 100%;
  height: 100%;
  border: none;
}

/* Image */
.doc-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}

/* Other files */
.no-preview {
  text-align: center;
  margin-top: 50px;
}

.download-link {
  color: #0b4add;
  font-weight: 600;
  text-decoration: none;
}

